<div class="jumbotron jumbotron-fluid bg-dark text-white">
    <div class="container m-3">
        <h3>SeonGyung</h3>
        <p>https://github.com/seon-gyung</p>
    </div>
</div>

</body>

</html>